<div class='form-upload hidden' id="add1-album">
  <%= render 'album_form' %>
</div>
<div class="site-wrap">
  <div class="container-fluid photos">
    <div class="row align-items-stretch">
      <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_4.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading"><%= current_user.albums[13].title %></h3>
              <span class="meta"><%= current_user.albums[13].photos.size %> Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_5.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_1.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <h3 class="heading">Photos Title Here</h3>
            <span class="meta">42 Photos</span>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_2.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_3.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_6.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_7.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_8.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_9.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_10.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_1.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_2.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_3.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up" data-aos-delay="">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_4.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_5.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_6.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_7.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_8.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 col-lg-8" data-aos="fade-up" data-aos-delay="100">
        <a href="<%= user_album_path(current_user.id,1)%>" class="d-block photo-item">
          <img src="/assets/img_9.jpg" alt="Image" class="img-fluid">
          <div class="photo-text-more">
            <div class="photo-text-more">
              <h3 class="heading">Photos Title Here</h3>
              <span class="meta">42 Photos</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


