<%= form_for @photo, url: photos_path, remote: true do |f| %>
<div class="hidden" id="add1photo">
  <div class="form-group ">
    <%= f.label :Title%>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <div class="image-upload-wrap">
      <%= f.file_field :image ,class: "file-upload-input",accept:"image/*",onchange:"readURL(this);"%>
    </div>
    <div class="file-upload-content">
      <img class="file-upload-image" src="#" alt="your image" />
      <div class="image-title-wrap">
        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Description%>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <br>
  <div class="text-center">
    <%= f.submit 'Create Photo', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>

